.loader {
  border: 16px solid #d4d4d4;
  border-radius: 50%;
  border-top: 16px solid  #122867;
 width: 90px;
  height: 90px;
/*  width: 100%;
  height: 100%;*/
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* div#timer_loader  .loader{
    width:120px; 
  height:120px;
}*/
.loaderwrap{
	position:fixed; 
	width:120px; 
	height:120px;
	margin:0px auto;
	left: 0px;
	right:0px;
	z-index:9999;
	top: calc(50% - 50px);
}
.logowrap{
    position: absolute;
    top: calc(50% - 31px);
    left: 2px;
    right: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logowrap img{
	width:50px;
}